* {
    box-sizing: border-box;
    font-family: Montserrat;
}

html,
body {
    font-size: 8px;
    margin: 0;
    overflow-x: hidden;
    width: 100%;
    font-family: Manrope;
}

.background-green {
    background-color: #02A28F;
    color: white;
}

.header {
    background-color: #02A28F;
    width: 100%;
    height: 70px;
    padding: 16px;
    display: flex;
    align-items: center;
}

.header h1 {
    font-size: 36px;
    font-weight: 700;
    margin: 0;
    padding: 0 0 0 78px;
    color: white;
    text-align: left;
}


#top {
    display: flex;
}

#container-opiniao img {
    padding: 7.5rem 2.75rem 1rem 9.75rem;
    width: 872px;
    height: auto;
    top: 120px;
    left: 156px;

}

#posts-populares {
    margin-top: 6rem;
}

.posts-title {
    margin: 0;
    width: 360px;
    height: 48px;
    padding: 16px 16px;
    border-radius: 10px;
    background-color: #02A28F;
    color: white;
}

.posts-title h2 {
    font-size: 20px;
    font-weight: 700;
    line-height: 14.38px;
    text-align: left;
    margin: 0;
    width: 168px;
    height: 24px;
}




#side-card {
    padding: 3rem 0rem 0rem 0rem;
    width: 361px;
    height: 396px;
}

.posts-title {
    margin-bottom: 20px;

}

.side-card-format {
    width: 360px;
    height: 96px;
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 16px;
    
}

.side-card-format img {
    width: 132px;
    height: 70px;
    top: 201px;
    left: 937px;
    gap: 0px;
    border-radius: 10px;
    opacity: 0px;
    object-fit: cover;
}

.side-card-format .text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

.side-card-format h2 {
    font-size: 14px;
    margin: 0;
    color: #333333;
}

.side-card-format h3 {
    font-size: 12px;
    color: #666666;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.63px;
    text-align: left;
}